.layout-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.results-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.additional-info {
    margin-top: 10px;
    text-align: left;
}

.frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-wrap: wrap;
}

.company-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 1;
}

.quotation-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.quotation-data h6 {
    margin-top: 20px; /* Increase the margin as needed */
}

.quotation-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    border-collapse: collapse;
    justify-content: center; /* Center the items inside the table */
    border: 1px solid lightgray; /* Thin gray frame around the table */
    padding: 10px; /* Padding inside the cubagem table */
    border-radius: 5px; /* Optional: rounded corners */

}

.quotation-table th, .quotation-table td {
    padding: 10px;
    text-align: left;
}

.quotation-table th {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.quotation-table td {
    width: 50%;
}

.quotation-table tr {
    display: flex;
    justify-content: space-between;
}

.cubagem-table {
    border: 1px solid lightgray; /* Thin gray frame around each table */
    margin-bottom: 20px; /* Space between cubagem tables */
    padding: 10px; /* Padding inside the cubagem table */
    border-radius: 5px; /* Optional: rounded corners */
}

.cubagem-data {
    width: 50%;
}

#mainForm {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.responsive-logo {
    width: 20%;
    max-width: 50vw;
    min-width: 150px;
    height: auto;
    object-fit: contain;
    margin-left: 0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container, .header-block, .placeholder-right {
    flex: 1;
}

.header-block {
    text-align: center;
    font-size: 1.5rem; /* Adjust the size as needed */
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 3rem 0;
}
.placeholder-right, .logo-container {
    flex: 1;
    text-align: left;
}

.container-imagem {
    display: flex;
    justify-content: center;
    height: 60vh;
}

input[readonly] {
    background-color: lightgrey;
}

.no-list-style {
    list-style-type: none;
    padding: 0;
}

.company-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.result-box {
    background-color: #edf3f8;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
