.layout-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.results-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.additional-info {
    margin-top: 10px;
    text-align: left;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .frame {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
}

.company-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 1;
}

.quotation-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.quotation-data h6 {
    margin-top: 20px; /* Increase the margin as needed */
}

.quotation-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}

.quotation-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%; /* Each column takes up 50% of the row */
    padding: 10px;
}

.quotation-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 600px) {
    .quotation-table {
        width: 100%;
    }

    .quotation-table th, .quotation-table td {
        padding: 5px;
        font-size: 0.9rem;
    }
}

.cubagem-table {
    border: 1px solid lightgray; /* Thin gray frame around each table */
    margin-bottom: 20px; /* Space between cubagem tables */
    padding: 10px; /* Padding inside the cubagem table */
    border-radius: 5px; /* Optional: rounded corners */
}

.cubagem-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%; /* Each column takes up 50% of the row */
    padding: 10px;
}

#mainForm {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.responsive-logo {
    width: 20%;
    max-width: 50vw;
    min-width: 150px;
    height: auto;
    object-fit: contain;
    margin-left: 0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container, .header-block, .placeholder-right {
    flex: 1;
}

.header-block {
    text-align: center;
    font-size: 1.5rem; /* Adjust the size as needed */
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 3rem 0;
}
.placeholder-right, .logo-container {
    flex: 1;
    text-align: left;
}

.container-imagem {
    display: flex;
    justify-content: center;
    height: 60vh;
}

input[readonly] {
    background-color: lightgrey;
}

.no-list-style {
    list-style-type: none;
    padding: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.company-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.result-box {
    background-color: #edf3f8;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.quotation-table-title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
}