{% extends "layout.html" %}
{% block title %} Mudar sua senha {% endblock %}
{% block header %} Mudar sua senha {% endblock %}
{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="currentPassword" name="password" placeholder="Digite senha atual" type="password">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="newPassword" name="new_password" placeholder="Crie nova senha" type="password">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" id="confirmPassword" name="confirmation" placeholder="Confirme nova senha" type="password">
        </div>
        <button class="btn btn-outline-primary" type="submit">Confirmar</button>
    </form>
{% endblock %}