{% extends "layout.html" %}
{% block title %}Erro{% endblock %}
{% block header %}Algo deu errado...{% endblock %}
{% block main %}
    <h5 class="text-center">(Erro {{ code }}): {{ error_message }}</h5>
    <div class="container-imagem">
        <img alt="Erro {{ code }}" class="border img-fluid" src="static/error_icon.png" title="Erro {{ code }}">
    </div>
    {% if errorList %}
    <div class="error-list">
        <p class="text-center">Data e Hora do Erro: {{ dateTime }}</p>
        <p class="text-center">{{ responseText }}</p>
        <h6>Detalhes:</h6>
        <ul>
            {% for error in errorList %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}