{% extends "layout.html" %}
{% block title %}Cotação de Fretes{% endblock %}
{% block header %}Cotação de Fretes{% endblock %}
{% block main %}
    <!-- Form to enter freight details -->
    <form action="/submit" id="mainForm" method="POST">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cnpj_remetente">CNPJ do Remetente:</label>
                <input required autocomplete="off" class="form-control" type="text" name="cnpj_remetente" id="cnpjRemetente" placeholder="CNPJ do Remetente">
            </div>
            <div class="col-md-6 mb-3">
                <label for="cnpj_destinatario">CNPJ do Destinatário:</label>
                <input required autocomplete="off" autofocus class="form-control" type="text" name="cnpj_destinatario" id="cnpjDestinatario" placeholder="CNPJ do Destinatário">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cep_origem">CEP de origem:</label>
                <input required autocomplete="off" class="form-control" type="text" name="cep_origem" id="cepOrigem" placeholder="CEP de origem">
            </div>
            <div class="col-md-6 mb-3">
                <label for="cep_destino">CEP de destino:</label>
                <input required autocomplete="off" class="form-control" type="text" name="cep_destino" id="cepDestino" placeholder="CEP de destino">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="tipo_frete">Tipo do frete:</label>
                <input required autocomplete="off" class="form-control" type="text" name="tipo_frete" id="tipoFrete" placeholder="Tipo do frete">
            </div>
            <div class="col-md-6 mb-3">
                <label for="vlr_mercadoria">Valor da Mercadoria:</label>
                <input required autocomplete="off" class="form-control" type="text" name="vlr_mercadoria" id="vlrMercadoria" placeholder="Valor da Mercadoria">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="peso">Peso total:</label>
                <input required autocomplete="off" class="form-control" type="text" name="peso_total" id="pesoTotal" placeholder="Peso total">
            </div>
            <div class="col-md-6 mb-3">
                <label for="volumesTotal">Total de volumes:</label>
                <input required id="volumesTotal" class="form-control" type="number" name="volumes_total" readonly>
            </div>
        </div>           
        <div class="button-container">
            <button type="submit" id="submitButton" class="btn btn-primary">Realizar cotação</button>
        </div>
        <!-- Volume dimensions form -->
        <div id="volumeFields"></div>
        <!-- Hidden input for volumeGroupIds -->
        <input type="hidden" id="volumeGroupIds" name="volumeGroupIds">
        <div class="button-container">
            <button type="button" id="addVolumeGroup" class="btn btn-secondary">Adicionar novo volume</button>
        </div>
    </form>
{% endblock %}
