{% extends "layout.html" %}
{% block title %} Login: Cotação de fretes {% endblock %}
{% block header %} Login {% endblock %}
{% block main %}
    <form action="{{ url_for('cotacao.login') }}" method="post">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Usuário" type="text">
        </div>
        <div class="mb-3">
            <input required class="form-control mx-auto w-auto" name="password" placeholder="Senha" type="password">
        </div>
        <button class="btn btn-outline-primary" type="submit">Entrar</button>
    </form>
{% endblock %}